{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}?v={{ now }}">
    <title>Servicios de un ING ISC</title>
</head>

<body>
    <h1>Administración de Bases de Datos</h1>
    <p>Diseño, optimización y mantenimiento de bases de datos relacionales.</p>
    <p>Integrantes de grupo: Eduardo Lopez Martinez y Luis Antonio Arguello Escutia</p>

    <div class="contenedor-btn-inicio">
        <a href="/" class="btn-inicio">Inicio</a>
        <a href="{% url 'agregar_servicio' %}?cat=adb" class="btn-submit" style="text-decoration:none; margin-left: 10px;">Agregar Nueva Tecnología</a>
    </div>

    <div id="contenedor-adb"></div>

    <script>
        const nuevosADBDjango = JSON.parse('{{ nuevos_json|escapejs }}');
    </script>

    <!-- W3C Badges -->
    <div class="w3c-badges">
        <a href="https://validator.w3.org/check?uri=referer" target="_blank">
            <img src="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png" alt="Valid HTML5" title="HTML5 Válido">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">
            <img src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS" title="CSS Válido">
        </a>
    </div>

    <script src="{% static 'js/scripts.js' %}?v={{ now }}"></script>
</body>

</html>